/* UNIVERSAL OVER ENTIRE DOCUMENT */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* BODY */
body {
  background-color: #d9dcd6;
}

/* HEADER */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/*changed to header from .header*/

/* h1 */
h1 {
  display: inline-block;
  font-size: 48px;
}

/* header, hi, "SEO" */
header h1 .seo {
  color: #d9dcd6;
}
/*changed to header h1 .sea from .header h1 .seo*/

/* navbar */
nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/*changed from .header div to nav*/

/* UNORDERED LIST */
ul {
  list-style-type: none;
}
/*changed from .header div ul to ul*/

/* LIST ITEMS */
li {
  display: inline-block;
  margin-left: 25px;
}
/*changed from .header div ul li to li*/

/* LINKS */
a {
  color: #ffffff;
  text-decoration: none;
}

/* PARAGRAPHS */
p {
  font-size: 16px;
}

/* HERO IMAGE */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* IMG */
.float-left {
  float: left;
  margin-right: 25px;
}

/* IMG */
.float-right {
  float: right;
  margin-left: 25px;
}

/* CONTENT SECTIONS */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* BENEFIT SECTIONS */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/*consolidated stylings to .benefit-section*/
.benefit-section {
  margin-bottom: 32px;
  color: #ffffff;
}

/* BENEFIT SECTION HEADING */
.benefit-section h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* BENEFIT SECTION IMG */
.benefit-section img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*consolidated stylings to .content-section*/
.content-section {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* CONTENT SECTION IMG */
.content-section img {
  max-height: 200px;
}

/* CONTENT SECTION HEADING */
.content-section h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* FOOTER */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* FOOTER HEADING */
footer h2 {
  font-size: 20px;
}
